body
{
    text-align: center;
    background-color: paleturquoise;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:palevioletred
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:mediumorchid
}